body{
    color: rgb(204, 204, 204);
    background-color: rgb(16, 16, 16);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: larger;
    }
    #fejlec{
    background-image: url(img/pizza.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    }
    #cimesmenu{
    padding-top: 1%;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(1, 70px);
        display: flex;
    }
    #focim{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-content: flex-end;
        display: inline;
    margin-left: 4%;
    }
    #menulista{
        justify-content: flex-start;
    padding: 0px;
    list-style-type: none;
    display: inline;
        grid-column-start: 19;
        grid-column-end: 25;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #kezdolap{
    color: rgb(255, 255, 255);
    }
    #pizzak{
    background-color: rgb(34, 34, 34);
    padding-top: 60px;
    padding-bottom: 2%;
    line-height: 1.5;
    height: 350px;
    display: flex;
    justify-content: center;
    }
    #pizzakbal{
    margin-left: 13%;
    padding: 0;
    float: left;
    display: inline;
    text-align: right;
    justify-content: flex-end;
    }
    #pizzakjobbp{
    max-width: 550px;
    }
    #pizzakjobb{
    margin: 0px;
    padding: 0px;
    float: right;
    display: inline;
    margin-right: 15%;
    justify-content: flex-start;
    padding-left: 40px;
    }
    #menu{
    background-color: rgb(16, 16, 16);
    text-align: center;
    padding-bottom: 5%;
    }
    #menuiras{
    width: 90%;
    margin: 0 auto;
    }
    #menucim{
    line-height: 1;
    }
    #menuszoveg{
    line-height: 1.5;
    font-size: larger;
    width: 90%;
    margin: 0 auto;
    }
    #gombok{
    margin-top: 50px;
        padding: 0px;
    }
    #gomb{
    color: white;
    list-style-type: none;
    display: inline;
    border: solid white 1px;
    padding: 20px 70px;
    margin: 0 20px;
    }
    #spec{
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5%;
    }
    #galery{
    display: grid;
    grid-template-columns: repeat(10, 70px);
    grid-template-rows: repeat(9, 70px);
    grid-gap: 15px;
    margin: 0 auto;
    width: 836px;
    }
    #galery div{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    }
    .galery_kep{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    #galery_kep1{   
    background-position: center;
    display: inline;
    background-image: url(img/pizza.jpg);
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    }
    #galery_kep2{
    background-position: center;
    display: inline;
    background-image: url(img/vorosboros.jpg);
    background-size: cover;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
    }
    #galery_kep3{
    background-position: center;
    display: inline;
    background-image: url(img/vegyes.jpg);
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 10;
    }
    #galery_kep4{
    background-position: center;
    display: inline;
    background-image: url(img/pizza2.jpg);
    background-size: cover;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 10;
    }
    #galery_kep5{
    background-position: center;
    display: inline;
    background-image: url(img/eloetel.jpg);
    background-size: cover;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 10;
    }
    #galery_szoveg{
    font-weight: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    }
    #nyitva{
    background-color: rgb(16, 16, 16);
    display: grid;
    grid-template-columns: repeat(11,70px);
    grid-template-rows: repeat(7,70px);
    grid-gap: 10px;
    width: 870px;
    margin: 0 auto;
    padding-top: 20px;
    }
    #nyit{
    font-weight: bold;
    color: #fff;
    padding-bottom: 30px;
    }
    #foglalj{
    color: #fff;
    text-decoration: underline white 1px;
    }
    #nyitvabal{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
    }
    #nyitvakozep{
        padding: 0;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
    }
    #nyitvajobb{
    grid-column-start: 8;
    grid-column-end: 12 ;
    grid-row-start: 1;
    grid-row-end: 4;
    }
    ul{
    list-style-type: none;
    }
    .vonal{
    border-bottom: white 1px solid ;
    width: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    }
    #nincsvonal{
    width: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    }
    #alsocsik{
    width: 70%;
    }
    #lablec{
    background-color: rgb(16, 16, 16);
    text-align: center;
    font-size: 15px;
    padding: 30px;
    }
    #webnode{
    text-decoration: underline 1px;
    }
    h1{
    color: rgb(255, 255, 255);
    }
    h2{
    color: rgb(255, 255, 255);
    }
    h3{
    color: rgb(255, 255, 255);
    }
    img{
    height: 70px;
    }
    #telszam{
    color: white;
    }
    #menupont{
    display: inline;
    } 
    li a{
    display: inline;
    padding: 8px;
    }
    a{
    color: rgb(204, 204, 204);
    text-decoration: none;
    }
    @media only screen and (min-width: 992px) and (max-width: 1189px){
    #pizzak{
    height: 350px;
    }
    #pizzakbal{
    margin-left: 4%;
    }
    #pizzakjobb{
    width: 55%;
    margin-right: 10%;
    }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 992px){
    #pizzak{
    height: 400px;
    }
    #pizzakbal{
    float: left;
    display: inline;
    text-align: right;
    margin-left: -5%;
    max-width: 250px;
    }    
    #pizzakjobb{
    float: right;
    width: 55%;
    display: inline;
    text-align: left;
    margin-right: 15%;
    }
    #menuiras{
    width: 100%;
    }
    #menuszoveg{
    width: 90%;
    margin: 0 auto;
    }
    #gomb{
    padding: 20px 8%;
    }
    #galery{
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(9, 50px);
    width: 635px;
    }
        #nyitva{
            grid-template-columns: repeat(11,1fr);
            grid-template-rows: repeat(7,70px);
            width: /*740px*/ 98%;
        }
        #nyitvabal{
            font-size: medium;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            text-align: right;
            padding-right: 8%;
        }
        #nyitvakozep{
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 8;
        }
        #nyitvajobb{
            text-align: left;
            grid-column-start: 7;
            grid-column-end: 12;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        .vonal{
            width: 150px;
        }    
    
    }
    @media only screen and (min-width: 576px) and (max-width: 768px){
    #pizzak{
    height: 500px;
    }
    #pizzakbal{
    float: left;
    display: inline;
    text-align: right;
    margin-left: -10%;
    max-width: 250px;
    }    
    #pizzakjobb{
    float: right;
    width: 55%;
    display: inline;
    text-align: left;
    margin-right: 5%;
    }
    #gomb{
    padding: 20px 6%;
    }
    #galery{
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(9, 40px);
    width: 535px;
    }
    #nyitva{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(7, 0.4fr);
    grid-gap: 10px;
            width: /*540px*/95%;
        }
        #foglalj{
            color: #fff;
            text-decoration: underline white 1px;
            width: 95%;
    }
    #nyitvabal{
    font-size: medium;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
    padding-right: 8%;
    }
    #nyitvakozep{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
    }
    #nyitvajobb{
    grid-column-start: 8;
    grid-column-end: 12 ;
    grid-row-start: 1;
    grid-row-end: 4;
    }
    .vonal{
    width: 150px;
    }    
    }
    
    @media only screen and (min-width: 350px) and (max-width: 576px){
    #pizzak{
    height: 580px;
    flex-direction: column;
    }
    #pizzakbal{
    float: right;
    display: block;
    margin-right: 4%;
    height: 120px;
    }
    #pizzakjobbp{
    margin-left: 4%;
    margin-bottom: 0;
    }
    #telszam{
    float: left;
    display: block;
    margin-left: 4%;
    }
    #menu{
    padding-bottom: 20%;
    }
    #gombok{
    padding: 0;
    }
    #gomb{
    display: block;
    margin-top: 50px;
    }
    #galery{
    display: block;
    margin: 0 auto;
    width: 80%;
    }
    #galery_kep1{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    }
    #galery_kep2{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    }
    #galery_kep3{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    }
    #galery_kep4{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    }
    #galery_kep5{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    }
    #nyitva{
        display: block;
        width: 90%;
    }
    #nyitvabal{
        text-align: right;
    }
    #nyitvatartas{
        padding: 0;
    }
    
    #alsocsik{
    width: 90%;
    }
    }
    
    @media only screen and (min-width: 350px) and (max-width: 400px){
    #pizzak{
    height: 680px;
    }
    }
    @media only screen and (min-width: 400px) and (max-width: 450px){
    #pizzak{
    height: 580px;
    }
    }
    @media only screen and (min-width: 520px) and (max-width: 576px){
    #pizzak{
    height: 480px;
    }
    }